body{
    position : ;
    font-family: 'IM Fell Great Primer', serif;
    padding-left : 60px;
}

.updown0 {
    position:absolute;
    border: 5px solid black;
    width: 0.1px;
    margin-top: 130px;
    margin-left: 1200px;
    height: 500px;
}

.updown {
    position:absolute;
    border: 5px solid black;
    width: 0.1px;
    margin-top: 130px;
    margin-left: 1000px;
    height: 500px;
}

.updown2 {
    position:absolute;
    border: 5px solid black;
    width: 0.1px;
    margin-top: 130px;
    margin-left: 900px;
    height: 500px;
}

.updown3 {
    position:absolute;
    border: 5px solid black;
    width: 0.1px;
    margin-top: 130px;
    margin-left: 850px;
    height: 500px;
}

.updown4 {
    position:absolute;
    border: 5px solid black;
    width: 0.1px;
    margin-top: 130px;
    margin-left: 820px;
    height: 500px;
}

.name{
/* JISU KANG */

position: relative;
padding-top :30px;
margin-bottom : -50px;

font-family: 'IM FELL Great Primer';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #000000;
}

.title{
/* The Library of Babel */

position: relative;
width: px;
height: px;
left: px;
top: px;
padding-bottom: ;
margin-bottom: -30px;

/* asdf */

font-family: 'IM FELL Great Primer';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: px;

color: #000000;
}

.writer{
    position: relative;
    width: px;
    height: px;
    left: px;
    top: px;
    
    font-family: 'IM FELL Great Primer';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    text-align: ;
    
    color: #000000;
}

.content{
    position: relative;
    width: 300px;
    height: px;
    hyphens: auto;
    padding-left : 1000px;
    padding-right : px;
    font-family: 'IM FELL Great Primer';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: px;
    text-align: ;


    color: #000000;
}

.classname{
    /* Core 2 Interaction, Spring 2023 */

    position: relative;
    text-align: center;
    
    font-family: 'IM FELL Great Primer';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: ;
    
    color: #000000;
}