/* Just to make the demo easier to work with. */

:root {
    --spacing: 1em;
}

body {
	font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    padding: var(--spacing);
    padding-bottom: 33vh;
}


.paper {

    position: relative;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(0, -80%);
    z-index: -1;

}



#mydata
{
    
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 4% 2%;
    padding: 50px;
    width: 800px;

    color: var(--bg-color);
    font-size: 50%;

    line-height: 160%;

    overflow-y: scroll;
    height: 400px;
    background-color: var(--accent-color);
    box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.3);
    border-radius: 20px;

}

iframe{

    display: flex;
    flex-direction: column;
    margin: 4% 2%;
    padding: 50px;
text-align: center;

    color: var(--bg-color);
    font-size: 50%;

    line-height: 160%;

    overflow-y: scroll;
    height: 400px;
    background-color: var(--accent-color);
    box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.slide{
    display : flex;
	align-items: center;

    

justify-content: space-evenly
}

aside {
    margin-bottom: calc(4 * var(--spacing));
}

h1 {
    font-size: 600%;
}

h2 {
    font-weight: bold;
}

a {
    color: rgb(0, 0, 0);
}

p {
    font-size: 3em;
    font-weight: normal;
    line-height: 75px;
}

em {
    font-style: italic
}

ul {
    display: grid;
    gap: calc(4 * var(--spacing));
    margin-top: calc(4 * var(--spacing));
    justify-content: center;
    
}

li {
    display: grid;
    gap: var(--spacing);
    border-bottom: 1px dotted green;
    padding-bottom: 2em;
    
}

time {
    font-size: 80%;
    font-weight: bold;
}

section {
    display: grid;
    gap: calc(4 * var(--spacing));
    margin-top: calc(4 * var(--spacing));
    
}
.bitelist{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.breed {
    font-size: 5em;
    margin-left: 20%;
}

.label--breed {
    padding-right: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 14px;
    color: grey;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 30px;
}

.grid-item {
    position: relative;
    padding-top: 100%;
    background-color: rgb(60, 174, 34);
    border-radius: 20%;
}

.poster {
    display : flex;
    height: 932px;
    flex-direction: column;
}
.statistic {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 400%;
    color: rgb(0, 0, 0);
}

.label {
    position: absolute;
    bottom: 2em;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: rgb(0, 0, 0);
}

.alert {
    color: rgb(0, 0, 0);
    background-color: rgb(126, 208, 151);
}




.outer {
 
    width: 388px;
  
    margin: 0 auto;
    overflow-x: hidden;
    overflow-x: clip;
  }
  
  .inner-list {
    display: flex;
    transition: .3s ease-out;
    height: 100%;
  }
  
  .inner {
  
    padding: 0 16px;
  }
  
  .button-list {
    text-align: center;
  position: relative;
  }

  .ditective
  { padding-top: 50px;;
    padding-bottom: 150px;;
  }

  .dollar {
    position: relative;
    top: -1040px;
  }



.prevent{
position: relative;

left: 25%;

    width: 700px;

}


.two{
background-color: #F9C650;
}

.circle {
    position: absolute;
width: 332px;
height: 332px;

border-radius: 50%;

background: #F94143;
}

.three {
    background-color: #43AA8C;
}


.cursor-png {
	cursor: url("https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcIwR9P%2FbtraRjIi6El%2FofkcHd4wk3BWMKZorWGH0k%2Fimg.png"), auto;
}