/* Just to make the demo easier to work with. */

:root {
	--spacing: 1em;
}


body {
	
	height: 100%;
	margin: 0; 
	padding: 0;
	font-family: 'Inter', sans-serif;
	font-weight: 300;
	padding: var(--spacing);
	padding-bottom: 33vh;
background-color: #75874F;

}

.category{
	padding : 10px;
	font-weight: 300;
}

.period {
	position : absolute;
	font-size: 10px;
	left : 70%;
	margin-left : -1300px;
	
}


.period1 { 
	position: relative;
    left: 1577px;
    width: 300px;
    top: 328px;
}

.period2 { 
	position: relative;
	left: 1485px;
    top: 529px;
}

.period3 { 
	position: relative;
	left: 1247px;
	top: 459px;
    z-index: 1;
    color: white;
}

.period4 { 
	position: relative;
	left: 984px;
    top: 192px;
}

.period5 { 
	position: relative;
	left: 689px;
    top: 286px;
}

.period6  {
	position: relative;
    left: 359px;
    top: 239px;
    z-index: 4;
}

.period7 { 
	position: relative;
	left: 49px;
    top: -42px;
	z-index: 4;
	
}

.period8 { 
	position: relative;
	left: 457px;
    top: -168px;
    z-index: 4;
}

.period9 { 
	position: relative;
	left: 587px;
    top: -246px;
}

.circle {
	box-sizing: border-box;
	border-radius: 50%;
	position: absolute;
	width: 1074px;
	height: 933px;
	left: 243px;
	top: -188px;
	border: 19px solid #75874F;
	left:0; right:0; margin-left:auto; margin-right:auto;

}

time {
	font-size: 10px;
}


.rectangle {
	position: absolute;
	/*width: 1028px;
	height: 301px;
	left: 0px;
	top: 602px;*/
	display: flex;
	background: #75874F;
	z-index: 1;
	width: 100%;
	height: 100PX;
	top : 702px;
	left:0; right:0; margin-left:auto; margin-right:auto;
	justify-content: space-evenly;
    align-items: center;
	


flex-wrap: wrap
}


.rectangle2 {
	position: absolute;
	/*width: 1028px;
	height: 301px;
	left: 0px;
	top: 602px;*/
	background: #75874F;
	z-index: -1;
	width: 100%;
	height: 1500%;
	top : 702px;
	left:0; right:0; margin-left:auto; margin-right:auto;
} 



.button {
	background-color: #ffffff;
	border: none;
	color: #75874F;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: flex;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	
  }


navi{
	list-style-type: noen;
	display: flex;
    width: auto;
    margin: 0;
    padding: 0;
    background-color: #75874f;
}
navi ul{
	list-style-type:none;
	margin: 0;
    padding: 0;
}

navi > li{
	float: left;
	width:100%
}

navi > li > a{
	padding: 10px 50px;
}

navi li a{
	background-color: #75874f;;
    text-decoration: none;
    font-weight: bold;
    color: #000000;
    display: block;
    text-align: center;
    padding: 10%;
	height: ;
	transition: all 0.5s;
}

navi li a:hover{
	background-color:#596a35;;
	color: white;
}

navi li ul{	/* << li 하위의 ul = 서브메뉴 */
	display: none;
}

navi li:hover ul{
	display: block;
}

.pimg {
	width: 100%;
	left:70%
	position : absolute;
	display: block;
	margin-top: 250px;
	filter: grayscale(100%);
	left:0; right:0; margin-left:auto; margin-right:auto;

}
.item:nth-child(1) {
	position: absolute;
	/*width: 388px;
	height: 406px;
	left: 1003px;
	top: -97px;*/
    width: 30%;
    left: 65%;
    MARGIN-TOP: -140PX;
}
.item:nth-child(2) {
	position: absolute;
	/*width: 291px;
	height: 527.6px;
	left: 976px;
	top: 65px;*/
	width: 30%;
    left: 57%;
    top: 10%;
}
.item:nth-child(3) {
	position: absolute;
	/*width: 328px;
	height: 301px;
	left: 786px;
	top: 232px;*/
	width: 30%;
    left: 50%;
    top: 170px;
}
.item:nth-child(4) {
	position: absolute;
	/*width: 250px;
	height: 513.63px;
	left: 609px;
	top: 101px;*/
	z-index: -1;
	width: 25%;
	left : 30%;

}
.item:nth-child(5) {
	position: absolute;
	/*width: 247px;
	height: 543px;
	left: 395px;
	top: 109px;*/
	width: 20%;
	left : 18%;
	top:109px;
}
.item:nth-child(6) {
	position: absolute;
	/*width: 385px;
	height: 381px;
	left: 140px;
	top: 49px;*/
	z-index: -1;
	width: 20%;
	left : 7%;
	top:109px;
}
.item:nth-child(7) {
	position: absolute;
	/*width: 293px;
	height: 219px;
	left: 94px;
	top: -54px;*/
	z-index: -2;
	width: 20%;
	left : 2%;
    top: -66px;
}
.item:nth-child(8) {
    position: absolute;
    /*width: 121px;
    height: 162px;
    left: 347px;
    top: -139px*/
    z-index: -3;
	width: 7%;
    left: 18%;
    top: -182px;
}
.item:nth-child(9) {
	position: absolute;
	/*width: 81px;
	height: 219px;
	left: 492px;
    top: -158px;*/
    z-index: -2;
    width: 5%;
    left: 25%;
    margin-top: -247px;
}


.samplebook{
	width: 100vw;
	position: absolute;
	margin-left: -1050px;
	left:70vw;
	top: 240px;
	width: 50px;
    height: 20px;
	font-size: 9px;
	text-align: center;
}

#myDiv{
	position: absolute;
    LEFT: -50px;
    top: -176px;



}

.sample1:nth-child(1){
    position: absolute;
    width: 50px;
    height: 11px;
    left: 1173px;
    top: 88px;
    background: #75874F;

}
.sample1:nth-child(2){
    position: absolute;
    width: 50px;
    height: 11px;
    left: 1173px;
    top: 68px;
    background: #75874F;

}
#myDiv2{
    position: absolute;
	left: -80px;
    top: -161px;
}
.sample2:nth-child(1){
    position: absolute;
	width: 50px;
    height: 11px;
	left: 1114px;
    top: 193px;
    background: #75874F;
}
.sample2:nth-child(2){
    position: absolute;
    width: 50px;
    height: 11px;
	left: 1114px;
    top: 213px;
    background: #75874F;
}
.sample2:nth-child(3){
    position: absolute;
    width: 50px;
    height: 11px;
	left: 1115px;
    top: 173px;
    background: #75874F;
}

#myDiv3{
    position: absolute;
	LEFT: -251px;
    top: 17px;
}

.sample3:nth-child(1){
    position: absolute;
	width: 50px;
    height: 11px;
	left: 1114px;
    top: 193px;
    background: #75874F;
}
.sample3:nth-child(2){
    position: absolute;
    width: 50px;
    height: 11px;
	left: 1114px;
    top: 213px;
    background: #75874F;
}
.sample3:nth-child(3){
    position: absolute;
    width: 50px;
    height: 11px;
	left: 1115px;
    top: 173px;
    background: #75874F;
}

#myDiv4{
    position: absolute;
    LEFT: -495px;
    top: -21px;
}

.sample4:nth-child(1){
    position: absolute;
    width: 50px;
    height: 11px;
    left: 1173px;
    top: 88px;
    background: #75874F;


}
.sample4:nth-child(2){
    position: absolute;
    width: 50px;
    height: 11px;
    left: 1173px;
    top: 68px;
    background: #75874F;
}


/*노무현*/

#myDiv5{
    position: absolute;
	LEFT: -687px;
    top: -70px;
}

.sample5:nth-child(1){
    position: absolute;
	width: 50px;
    height: 11px;
	left: 1114px;
    top: 193px;
    background: #75874F;
}
.sample5:nth-child(2){
    position: absolute;
    width: 50px;
    height: 11px;
	left: 1114px;
    top: 213px;
    background: #75874F;
}
.sample5:nth-child(3){
    position: absolute;
    width: 50px;
    height: 11px;
	left: 1114px;
    top: 173px;
    background: #75874F;
}

.sample5:nth-child(4){
    position: absolute;
	width: 50px;
    height: 11px;
	left: 1114px;
top: 154px;
    background: #75874F;
}
.sample5:nth-child(5){
    position: absolute;
    width: 50px;
    height: 11px;
	left: 1114px;
	top: 135px;
    background: #75874F;
}
.sample5:nth-child(6){
    position: absolute;
    width: 50px;
    height: 11px;
	left: 1114px;
	top: 113px;
    background: #75874F;
}

/*김대중*/

#myDiv6{
    position: absolute;
	LEFT: -798px;
    top: -127px;
}

.sample6:nth-child(1){
    position: absolute;
	width: 50px;
    height: 11px;
	left: 1114px;
    top: 193px;
    background: #75874F;
}
.sample6:nth-child(2){
    position: absolute;
    width: 50px;
    height: 11px;
	left: 1114px;
    top: 213px;
    background: #75874F;
}
.sample6:nth-child(3){
    position: absolute;
    width: 50px;
    height: 11px;
	left: 1114px;
    top: 173px;
    background: #75874F;
}

.sample6:nth-child(4){
    position: absolute;
	width: 50px;
    height: 11px;
	left: 1114px;
top: 154px;
    background: #75874F;
}
.sample6:nth-child(5){
    position: absolute;
    width: 50px;
    height: 11px;
	left: 1114px;
	top: 135px;
    background: #75874F;
}
.sample6:nth-child(6){
    position: absolute;
    width: 50px;
    height: 11px;
	left: 1114px;
	top: 113px;
    background: #75874F;
}

/*노채우*/

#myDiv7{
    position: absolute;
    LEFT: -881px;
    top: -278px;
}

.sample7:nth-child(1){
    position: absolute;
	width: 50px;
    height: 11px;
	left: 1114px;
    top: 193px;
    background: #75874F;
}
.sample7:nth-child(2){
    position: absolute;
    width: 50px;
    height: 11px;
	left: 1114px;
    top: 213px;
    background: #75874F;
}
.sample7:nth-child(3){
    position: absolute;
    width: 50px;
    height: 11px;
	left: 1114px;
    top: 173px;
    background: #75874F;
}

.sample7:nth-child(4){
    position: absolute;
	width: 50px;
    height: 11px;
	left: 1114px;
top: 154px;
    background: #75874F;
}

/*  박근혜 */
.sample:nth-child(6){
    position: absolute;
    width: 50px;
    height: 11px;
	left: 882px;
    top: 400px;
    background: #75874F;
}
.sample:nth-child(7){
    position: absolute;
    width: 50px;
    height: 11px;
	left: 882px;
    top: 380px;
    background: #75874F;
}
.sample:nth-child(8){
    position: absolute;
    width: 50px;
    height: 11px;
	left: 882px;
    top: 359px;
    background: #75874F;
}

/*이명박*/
.sample:nth-child(9){
    position: absolute;
    width: 50px;
    height: 11px;
    left: 749px;
    top: 290px;
    background: #75874F;
}
.sample:nth-child(10){
    position: absolute;
    width: 50px;
    height: 11px;
    left: 749px;
	top: 268px;
    background: #75874F;
}

.intro {
	position: absolute;
	font-family: 'Inter', sans-serif;
padding : 30px;
	flex-basis: 100%;
	font-weight: 100;
	
}

aside { margin-bottom: calc(4 * var(--spacing)); }

.name1 { 
	position : absolute;
	writing-mode: vertical-rl;
	font-weight: 700;
	font-size: 200%; 
color:	#75874F;}

.name2 { 
	
	position : absolute;
	font-size: 200%; 
	text-align: right;
	color:	#75874F;}


name { 
	font-weight: bold;
font-size: 20px;
}

publishedyear { 
	font-size: 9px; 
	background-color: #ffffff2f;
	border-radius: 50%;
	padding : 5px;
}

discription {  
font-size: 12px; 

padding:px; 

}

publisher {
	font-size: 6px;
}
 field {
	font-weight: 400;

 }


.yoon{
	color:rgb(255, 0, 0);
}
.moon{
	color:#1100ff;
}
.park{
	color:#ff0000;
}
.lee{
	color:#ff0000;
}
.participatory{
	color:#519348;
}
.national{
	color:#0e7400;
}
.roh{
	color:#75874F;
}
.Contemporary {
	color: blue;
}
.Modern {
	color:pink;
}

.image-wrapper {
	/* position: relative; for lightbox positioning */
	position: relative;
	/* overflow: hidden; for responsive image height */
	overflow: hidden;
}

/* for responsive image height */
.image-wrapper img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.lightbox {
	background-color: aliceblue;
	padding: 10px 15px;
	border-radius: 10px;
	overflow: hidden;
	/* position it dead center */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, calc(-50% + 20px));
	/* default states prior to transition/animation */
	opacity: 0;
	filter: blur(10px);
	/* transition everything. not performant but it's convenient */
	transition: .3s;
}

.lightbox-enabled .lightbox {
	opacity: 1;
	filter: blur(0);
	transform: translate(-50%, -50%);
}



a { color: #000000; }

em { font-size : 11px; 
	line-height: auto;}

ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	
	gap: calc(3 * var(--spacing));
	margin-top: calc(4 * var(--spacing));

	margin-right: 30px;
	
}

ul {
	position: absolute;
	
}

li {
    display: flex;

    gap: var(--spacing);
    width: ;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
	
}



	li:nth-child(3) {  grid-column: 1 / span 1;	}
	li:nth-child(6) { grid-column: 1 / span 1;}
	li:nth-child(9) { grid-column: 1 / span 1;}
	li:nth-child(11) { grid-column: 1 / span 1;}
	li:nth-child(16) { grid-column: 1 / span 1;}
	li:nth-child(21) { grid-column: 1 / span 1;}
	li:nth-child(21) { grid-column: 1 / span 1;}
	li:nth-child(29) { grid-column: 1 / span 1;}
	li:nth-child(45) { grid-column: 1 / span 1;}



	@media (max-width: 700px) {
		ul {
			grid-template-columns: 1fr;
			
		}
.samplebook {
display: none;
}
		.whole {
			display: none;
		}

		li {
			flex-direction: inherit;
		}
		img {
		
			max-width: 200px;
		}
	}

	@media (max-width: 1150px) {

		.samplebook {
			display: none;
			}
	}