body{
    font-family: 'Inconsolata', monospace;
    text-decoration-line: none;
}

.container{
    position: fixed; color: red;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}


.black {
    position: fixed;
    top: 0;
    right: 0;
    width: 1350px;
    height: 100%;
    background-color: black;
    z-index: -1;
  }

.scroll-container {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
  }

  footer {
    position : absolute;
    left : 15px;
    top : 15px;
}



a {
    text-decoration-line: none;
    width:200px;

    background-color: #000000;

    border: none;

    color:#fff;

    padding: 15px 0;

    text-align: center;

    text-decoration: none;

    display: inline-block;

    font-size: 15px;

    margin: 4px;

    cursor: pointer;

}

@media (max-width: 900px) {
	.black {width:50%}
    #boxWrap .original 

    {width:40%}
}